# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
Seminars/Sem.01/Pract.01/Task04.cpp
Seminars/Sem.01/Pract.01/Task05.cpp
Seminars/Sem.01/Pract.01/Task06.cpp
